@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <i class='bx bx-user' style='font-size: 1.5rem;'></i> <!-- Boxicons user icon -->
            </a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-dark">
                    <i class='bx bx-log-out' style='font-size: 1.5rem;'></i> <!-- Boxicons logout icon -->
                </button>
            </form>
        </li>
    }
    @if (!SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">
                <i class='bx bx-user-plus' style='font-size: 1.5rem;'></i> <!-- Boxicons user-plus icon -->
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">
                <i class='bx bx-log-in' style='font-size: 1.5rem;'></i> <!-- Boxicons login icon -->
            </a>
        </li>
    }
</ul>
