<div class="inner-banner inner-bg1">
    <div class="container">
        <div class="inner-title">
            <h3>About Us</h3>
            <ul>
                <li>
                    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>   
                </li>
                <li>
                    <i class='bx bxs-chevrons-right'></i>
                </li>
                <li>About</li>
            </ul>
        </div>
    </div>
</div>


<div class="about-area pt-100 pb-70">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="about-img">
                    <img src="~/images/about/13.png" alt="About Images">
                    <div class="about-bg-shape">
                        <img src="~/images/about/bg-shape.png" alt="About Shape">
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="about-content">
                    <span>About Us</span>
                    <h2>Digi-Pix a small company that frame your happiest moments</h2>
                    <p>
                        Digi-Pix is a unique and innovative small company that has found a way to capture the 
                        intangible: your dreams and happiest moments.Digi-Pix is there to ensure that every precious
                        moment is captured and preserved. Digi-Pix is the perfect choice for anyone who wants to immortalize
                        their most treasured memories
                    </p>
                    <p>
                        Our team of passionate specialists understands the unique value of every moment and is dedicated to
                        preserving it beautifully. We offer personalized services tailored to your individual needs, so you
                        can trust that every memory is in good hands.
                    </p>
                    <div class="about-btn">
                        <a asp-controller="Services" asp-action="Index" class="know-more-btn">Know More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="choose-area ptb-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <span>Why Us?</span>
            <h2>DigiPix offer quality first!</h2>
            <p>
                Our company prides itself on being trusted, budget-oriented, and fast, all while providing quality work that exceeds expectations.
                We offer emergency and preready printing, as well as satisfaction revisions and a money-back guarantee for added peace of mind.
            </p>
        </div>
        <div class="row pt-45">
            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bx-box'></i>
                    <h3>Trusted Company</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bxs-coin-stack'></i>
                    <h3>Budget Oriented</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bxs-truck'></i>
                    <h3>Fast Service</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bxl-creative-commons'></i>
                    <h3>Quality Work</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bx-brush'></i>
                    <h3>Emergency Print</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bx-paint'></i>
                    <h3>Preready Print</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bx-like'></i>
                    <h3>Satisfaction Revisions</h3>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="choose-card">
                    <i class='bx bx-money'></i>
                    <h3>Money Back Guarantee</h3>
                </div>
            </div>
        </div>
    </div>
</section>
